.bgImg {
    background-image: url('../../assets/images/BG_collector_login.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}