/* 全局样式 */
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #110f32;
  color: #fff;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 4px;
}
/* ---el-table滚动条公共样式--- */
.el-scrollbar {
  /* // 横向滚动条 */
  .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    opacity: 1;
    height: 6px;
    border-radius: 5px;
    background-color: #babaff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  }
  /* // 纵向滚动条 */
  .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    opacity: 1;
    width: 6px;
    border-radius: 5px;
    background-color: #babaff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  }
}

.el-table {
  /* 透明度为0，不显示背景色 */
  background-color: rgba(255, 240, 240, 0) !important;
}
/* 头部标题组件 */
.el-table tr,
th.el-table__cell {
  background-color: rgba(255, 0, 0, 0) !important;
  color: #7f7fbe;
  font-size: 13px;
}
/* 头部与body下面的分割线  */
.el-table th.el-table__cell.is-leaf {
  border-bottom: none;
}
/* 表格行背景色 */
.el-table tr {
  background-color: rgba(255, 0, 0, 0);
  /* 文字颜色 */
  color: #ffffffcc;
}
/*  表格行之间的分割线 */
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border-bottom: none !important;
}
/* 表格底部分割线 */
.el-table__inner-wrapper:before {
  bottom: 0;
  height: 0px !important;
  left: 0;
}
/* 鼠标悬停背景色 */
.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
  background-color: rgba(255, 0, 0, 0) !important;
}
/* 鼠标选中背景色，行点击事件 */
.el-table__body tr.current-row > td.el-table__cell {
  background-color: rgba(255, 0, 0, 0) !important;
}

/* 多选框 */
.el-checkbox__inner {
  width: 20px !important;
  height: 20px !important;
  border-color: rgba(186, 186, 255, 1) !important;
  border-radius: 4px !important;
  background-color: transparent !important;
}
/* 选中 */
.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #a754eb !important;
  background-color: #a754eb !important;
  &::after {
    /* 里面的对钩 */
    /* border-color: #384461; */
    border-color: #fff !important;
    font-size: 20px !important;
    border-width: 2px !important;
    /* width: 5px;
    height: 10px; */
  }
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner:before {
  top: 8px !important;
}

/* 文字 */
.el-checkbox__input.is-checked + .el-checkbox__label,
.el-checkbox__label {
  color: #fff !important;
  font-size: 14px !important;
}

/* 弹窗样式 */
.el-dialog {
  border-radius: 8px !important;
  background: #1f1b41 !important;
  /* padding-bottom: 18px !important; */
  padding: 32px 24px !important;
  border: 1px solid #7474aa51 !important;
}
/* Chrome / Safari / Edge 隐藏箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox 隐藏箭头 */
input[type="number"] {
  -moz-appearance: textfield;
}
.ant-dropdown-menu {
  background-color: #1a1636 !important;
  border-color: rgba(255, 255, 255, 0.16) !important;
  border-radius: 8px !important;
}
.ant-dropdown-menu-item {
  color: #fff !important;
  font-size: 14px !important;
  &:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
}
.ant-select-selector {
  background-color: #1a1636 !important;
  border-color: rgba(255, 255, 255, 0.16) !important;
  border-radius: 4px !important;
  color: #fff !important;
  font-size: 14px !important;
  &:hover {
    
  }
}
.ant-select-arrow {
  color: #7f7fbe !important;
}
.ant-select-dropdown {
  background-color: #1a1636 !important;
  border-color: rgba(255, 255, 255, 0.16) !important;
  border-radius: 8px !important;
}
.ant-select-item {
  color: #fff !important;
  font-size: 14px !important;
  &:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
}
.ant-select-item-option-selected {
  background-color: rgba(255, 255, 255, 0.04) !important;
}
.ant-select-show-arrow {
  color: #7f7fbe !important;
}
.ant-select-open .ant-select-selection-item {
  color: #7f7fbe !important;
}