.bgImg {
  background-image: url('../../assets/images/BG_1_v2.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.bgImg2 {
    background-image: url('../../assets/images/BG_collector.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    /* top: 0;
    left: 0; */
}
.app_bg {
  width: 100%;
  height: 100vh;
  background-image: 
    url('@/assets/images/BG_1_v2.png'),
    url('@/assets/images/BG_collector.png'); /* 第二张图 */
  background-size: cover;
  background-position: center;
  position: relative;
}
.antLayoutContent::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.antLayoutContent::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}

.antLayoutContent::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 4px;
}